  :root.dark {
    --bg-color: black;
    --color: white;
    --bg-imageMenu: url(../images/icon/menuDark.svg);
    --slider-color: rgb(120, 120, 120);
    --button-sub: rgb(128, 128, 128);
    --bg-imageAbout: url(../images/icon/ABOUTTHEDark.svg);
    --bg-imageProject: url(../images/icon/PROJECTDark.svg);
  }
