.about {
  height: fit-content;

  &__title {
    &-about {
      background-image: var(--bg-imageAbout);
      background-size: contain;
      background-repeat: no-repeat;
      height: 36px;

      @include onTablet {
        height: 78px;
      }

      @include onLaptop {
        height: 24px;
      }

      @include onLaptopL {
        height: 30px;
      }

      @include onDesktop {
        height: 42px;
      }
    }

    &-project {
      background-image: var(--bg-imageProject);
      background-size: contain;
      background-repeat: no-repeat;
      height: 54px;

      @include onTablet {
        height: 118px;
      }

      @include onLaptop {
        height: 38px;
      }

      @include onLaptopL {
        height: 40px;
      }

      @include onDesktop {
        height: 62px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color);

    @include onLaptop {
      height: 80%;
    }

    &-title {
      @extend %Syncopate400Bold;
      font-size: 14px;
      line-height: 15px;
      text-transform: uppercase;
      cursor: pointer;

      @include onLaptopL {
        font-size: 16px;
      }
    }

    &-text {
      margin-top: 10px;
      font-family: $KyivType;
      font-weight: 0;
      font-size: 14px;
      line-height: 22px;

      @include onLaptopL {
        font-size: 16px;
      }
    }

    &-bottom {
      bottom: 0px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.about__line {
  height: 1px;
  width: 100%;
  background-color: var(--color);
  margin-top: 16px;
  margin-bottom: 16px;
}

