@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

$c-black: #101010;
$c-blue: #24A9F4;
$c-white: #FFFFFF;
$c-gray: #BEBEBE;

$Syncopate: 'Syncopate', sans-serif;
$KyivType: 'KyivType';
